<% include ./partials/header.ejs %>

  <div class="container">
    <div class = "row row-centered">
      <div class= "col-md-8 col-centered">

    <h1>Dynamic Quiz</h1>

  <div class="buttons">
    <a href="/login" class="btn btn-primary btn-lg" id="btn-login" value="userAuth">Login</a>
    <a href="/signup" class="btn btn-primary btn-lg" id="Signup">Signup</a>
    <div class ="alert-warning hidden"><p>Uh oh, you forgot something...<p></div>
    </div>
  </div>

<% include ./partials/footer.ejs %>