<% include ./partials/header.ejs %>

<div class="container">
         <form action="/login" method="POST" class="form-auth centered">
           <h2>Please login</h2>
           <div class="form-group">
                 <input type="text" class="form-control" name="username" placeholder="Username">
           </div>
           <div class="form-group">
                 <input type="password" class="form-control" name="password" placeholder="Password">
           </div>
            <input type="submit" value="Login" class="btn btn-primary btn-md btn-block"> 
         </form>
 </div>

  <% include ./partials/footer.ejs %>