<% include ./partials/header.ejs %>

    
    <h1>The Dynamic Quiz</h1>
        <p>Welcome back</p>
    
    <div class="quiz">
      <h2 id="welcome"></h2>
          <p class="question"></p>
              <div class="row">
                  <div class="choices col-md-4 col-md-offset-3">
       <form class="form-group">
       </form>
         </div>
      </div>
      <div class ="results">
        </div>
      <div class="buttons">
         <button type="button" class="btn btn-primary btn-lg hidden" id="prev"  value="Back">Previous</button>
        <button type="button" class="btn btn-primary btn-lg" id="next"  value="Next">Next</button>
        <button type="button" class="btn btn-primary btn-lg hidden" id="start"  value="Start">Start Over</button>
      </div>
      <div class ="alert-warning hidden"><p>Uh oh, you forgot something...<p>
      </div>
        </div>
      </row>
    </div>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/quiz.js"></script>

<% include ./partials/footer.ejs %>