.container {
  margin-top:20px;
}

.userAuth {
  margin: 0 auto;
}

.form-auth {
  max-width: 380px;
  padding: 15px 35px 45px;
  background-color: #fff;
  margin-top: 10%;
  margin: 0 auto;
}

.cover {
  margin-top:20%;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}
.form-control {
  border-radius:0px;
}

.create-quiz {
  margin: 0 auto;
}

input {
  background: transparent;
  border-style: solid;
  border-width: thin;
}

.questions {
  text-align:left;
  margin-bottom:25px;
  margin-left:50px;
  margin-right:50px;
  margin-top:25px;
}

.hidden {
  display: none;
}

.alert-warning {
   text-align:center;
}

.text-center {
  text-align:center;
}

.jumbotron {
  background-color: #fff;
}

.inline {
  display: inline;
}

.twitter {
  background-color: #1dcaff;
}