<% include ../partials/header.ejs %>

<h1>this is the header to the show route</h1>
 <ul>
<% quizzes.forEach(function(val) { %>
    <div class="card">
      <div class ="card-block">
        <a class="card-title" href="/quizzes/<%= val.id %>"><%= val.title %></a>
        <form id="delete-quiz" action="/quizzes/<%= val._id %>?_method=DELETE" method="POST">
          <button class="btn btn-xs btn-danger">Delete</button>
        </form>
      </div>
    </div>
<% }); %>
</ul>

<% include ../partials/footer.ejs %>

